{% extends "base.html" %}

{% block headtag %}
Histórico
{% endblock %}

{% block title %}Histórico{% endblock %}
{% block content %}
    {% for year, year_group in dates|groupby('date.year')|reverse %}
    <div class="archive-year">
    <h1>{{ year }}</h1>
        {% for month, month_group in year_group|groupby('date.month')|reverse %}
        <div class="archive-month">
        <h2>{{ month_group.0.date.strftime("%b") }}</h2>
        <ul>
            {% for article in month_group %}
            <li>({{ article.date.day }}) <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a><br>[{{ article.category }}]
            {% for tag in article.tags %}
               <span class="tag"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span>
            {% endfor %}
            </li>
            {% endfor %}
        </ul>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
