{%-       if article_category %} 
          <div class="articlecategory"> [<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>] </div>
{%       endif %}
{%        if linker_header %} 
          <h1 class="{{ 'linked' if linker_header }}" ><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
{%        else %}
          <h1>{{ article.title }}</h1>
{%        endif %}
          <div class="subtitle">
{%        if article.location is defined %}
          <span class="location">{{ article.location }},</span><wbr>
{%        endif %}
          <span class="date">{{ article.date.strftime("%d/%m/%Y") }}</span><wbr>
{%        for translation in article.translations %}
{%           if 'es' == translation.lang %}
            <a class="traduccion es" href="{{ SITEURL }}/{{ translation.url }}"></a> {%           endif %}
{%           if 'en' == translation.lang %}
            <a class="traduccion en" href="{{ SITEURL }}/{{ translation.url }}"></a> 
{%           endif %}
{%        endfor %}
{%        if not hide_tags %}
{%        for tag in article.tags|sort %}
          <span class="tag"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span><wbr>
{%        endfor %}
{%        endif %}
          </div>
{%        if article.image %}
          <img src="{{ MAIN_SITEURL }}/images/{{ article.image }}" class="article-image">
{%        endif %}
        <article>
          {{ article.content|indent(10) }}
        </article>
