{% macro ephemeral_nav_link(what, where, selected=False) -%}
<li class="ephemeral{% if selected %} selected{% endif %}"><a href="{{ SITEURL }}/{{ where }}">{{what}}</a></li>
{%- endmacro -%}


<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    {# favicon #}
    <link rel="shortcut icon" type="image/png" href="{{ SITEURL }}/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/favicon.ico">
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    <meta name="generator" content="Pelican" />
    <meta name="format-detection" content="telephone=no">
    {% endblock head %}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="accionador"></div>
  <div id="panel-wrapper">
    <nav>
        {% if pages %}
        <h2>Páginas</h2>
        <ul>
          {% for p in pages %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if MENUITEMS %}
        <h2>Menú</h2>
        <ul>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        <h2>Navegación</h2>
        <ul>
            <li><a href="{{ SITEURL }}/archives.html">Histórico</a></li>
            <li><a href="{{ SITEURL }}/tags.html">Por etiquetas</a></li>
            <li><a href="{{ SITEURL }}/categories.html">Por categorías</a></li>
        </ul>
        <h2>Categorias</h2>
        <ul>
        {% for cat, null in categories %}
          <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
        {% endfor %}
        </ul>
        <h2>Etiquetas</h2>
        <div id="etiquetas">
            {% for tag, null in tags|sort %}
            <div class="tag"><a href="/">{{ tag }}</a></div>
            {% endfor %}
        </div>
    </nav>
  </div>
  <div id="contenedor">
    <div id="central">
      <div id="bar">
        <div id="alpha">
        </a>
        </div>
        <div id="beta">
        </div>
      </div>
      <div id="space">
      </div>
      <div id="content">
        <header>
            <div id="headerleft">
                <a href="/">Llou's website</a>
            </div>
            <div id="headerright">
            <div id="headtag">{%- block headtag %}{% endblock %}</div>
            </div>
        </header>
        <main>
{% block content %}{% endblock %}
        </main>
        <footer>
            <div id="foottag">{%- block foottag %}{% endblock %}</div>
        </footer>
    </div>
  </div>
  <div id="pie">
  </div>
</div>
</body>
<script>
(function () {
    var body = document.body, html = document.documentElement;
    var accionador = document.getElementById("accionador");
    var panel = document.getElementsByTagName("nav")[0];
    var panel_wrapper = document.getElementById("panel-wrapper");
    var aspas_url = "url({{ SITEURL }}/theme/css/aspa.svg)";
    var hamburguesa_url = "url({{ SITEURL }}/theme/css/hamburguesa.svg)";
    var visible = false;
    var ancho_panel = 342;

    function actualiza() {
        var height = Math.max( body.scrollHeight, body.offsetHeight, 
                           html.clientHeight, html.scrollHeight, html.offsetHeight ); 
        panel.style.height = (height-94)+"px";
        panel_wrapper.style.height = height+"px";
        panel.style.right = visible ? 0 : "-"+ancho_panel+"px";
        accionador.style.backgroundImage = visible ? aspas_url : hamburguesa_url;
        panel.style.visibility = visible ? "visible" : "hidden";
    }

    accionador.addEventListener('click', function() {
        visible = !visible;
        actualiza();
    });
})();
</script>
</html>
