{% extends "base.html" %}

{% block title %}Categorias{% endblock %}

{% block headtag %}Categorias{% endblock %}

{% block content %}
    {% for category, articles in categories %}
    <div class="categories-block">
    <div class="categories-head">[<a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a>]</div>
        <ul>
            {% for article in articles %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
{% endblock %}
