{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
            <div class="page">
                <h1>{{ page.title }}</h1>
                {{ page.content }}
            </div>
{% endblock %}
