{% extends "base.html" %}

{% block title %}Etiquetas{% endblock %}

{% block headtag %}Etiquetas{% endblock %}

{% block content %}
    {% for tag, articles in tags|sort %}
    <div class="tags-tag">
    <div class="tag"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></div>
        <ul>
            {% for article in articles %}
            <li>[{{ article.category }}] <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
{% endblock %}
