body {
    position: absolute;
    overflow-x: hidden;
    z-index: 0;
}
h1 a {
    color: #111111;
    text-decoration: none;
}

/* 
     Etiquetas
*/

.tag {
    white-space: nowrap;
}

.tag a {
    font-size: 0.8em;
    background: #111111;
    border: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 0px;
    margin: 1px 3px 1px 3px;
    padding: 1px 5px 2px 5px;
    flex-grow: 0;
}

.tag a {
    color: #eeeeee;
    font-weight: normal;
    text-decoration: none;
}

.tag a:hover {
    border-width: 2px;
    margin: 0px 2px 0px 2px;
    text-decoration: none;
}

.tag a:visited {
    color: #eeeeee;
}

/* 
     Accionador
*/

#accionador {
    background: url(hamburguesa.svg);
    position: absolute;
    right: 25px;
    top: 10px;
    height: 32px;
    width: 32px;
    z-index: 3;
} 

#accionador:hover {
    cursor: pointer;
}

/* 
     Navegacion
*/

#panel-wrapper {
    position: absolute;
    visibility: hidden;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: visible;
}

nav {
    position: absolute;
    visibility: hidden;
    top: 0px;
    right: -342px;
    min-height: 500px;
    width: 300px;

    padding: 50px 20px 40px 20px;

    border: solid;
    border-width: 2px 0px 2px 2px;
    border-color: #111111;
    background: #4A90E2;
    z-index: 2;
    
    color: #111111;
    font-family: 'Inconsolata';
    flex-grow: 1;
    letter-spacing: -0.5;

    transition-property: right, visible;
    transition-duration: 500ms;
    transition-timing-function: easeInOutCubic;
}

a {
    text-decoration: none;
    color: #111111;
}

a:visited {
    color: #111111;
}

a:hover {
    text-decoration: underline;
}

nav h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.5px;
    word-spacing: 6px;
    font-size: 24px;
    margin-bottom: 20px;
}

nav h2 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.5px;
    word-spacing: 6px;
    font-size: 20px;
}

nav ul {
    padding-top: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    list-style-type: disc;
}

nav li {
    padding-bottom: 12px;
}

nav #etiquetas {
    padding: 12px 12px 12px 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 1.5;
}

/* 
     Marco
*/

#contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#central {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#pie{
    width: 100vw;
}

#bar {
    display: flex;
    flex-direction: column;
}

#alpha {
}

#beta {
    flex-grow: 1;
}

#space {
}

/* 
     Contenido
*/


#content {
    color: #111111;
    font-family: 'Inconsolata';
    letter-spacing: -0.5;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#headerleft {
  margin-top: 30px;
  margin-left: -50px;
  font-family: "Roboto", sans-serif;
  font-size:  50px;
}

#headerright {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#headtag {
    margin-bottom: 30px;
}

main {
    flex-grow: 1;
}

main p {
    padding-bottom: 18px;

}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

main ol li {
    list-style-type: decimal;
    list-style-position: inside;
    padding-bottom: 18px;
}

main p em {
    font-style: italic;
}

main p strong {
    font-weight: bold;
}

main p a {
    text-decoration: underline;
}


footer {
}

main h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.5px;
    word-spacing: 6px;
}

main .page h1 {
    padding-bottom: 10px;
}

main h1.linked:hover  {
    text-decoration: underline;
    cursor: pointer;
}

main h2 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.5px;
    word-spacing: 4px;
}

.subtitle {
    display: inline;
    padding: 18px 0px 18px 0px;
    line-height: 1.5;
}

.subtitle > .date {
    white-space: nowrap;
}

.subtitle > .traduccion {
    display: inline-block;
    width: 24px;
    height: 18px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.subtitle > .traduccion.es {
    background: url(es.svg);
    background-size: contain;
}

.subtitle > .traduccion.en {
    background: url(gb.svg);
    background-size: contain;
}

.glifo {
}

.article-image {
  margin-bottom: 25px;
}

.articlecategory {
    padding-bottom: 20px;
}
/*
 * Video container
 *
 */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}


.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 
     ARCHIVE
*/

.archive-year {
    padding-bottom: 20px;
}

.archive-month {
    padding: 10px 0 20px 20px;
}

.archive-month ul {
    padding-left: 60px;
}

.archive-month li {
    list-style-type: disc;
    line-height: 130%;
}

/* 
     TAGS
*/

.tag-title {
    font-size: 0.8em;
    background: #111111;
    border: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 0px;
    margin: 1px 3px 1px 3px;
    padding: 1px 5px 2px 5px;
    flex-grow: 0;
    color: #eeeeee;
    font-weight: normal;
    text-decoration: none;
}

.tags-tag {
    padding-bottom: 0px;
}

.tags-tag ul {
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 20px;
}

.tags-tag li {
    list-style-type: disc;
}

/* 
     Etiquetas
*/

.categories-head {
    padding-bottom: 20px;
}

.categories-block ul {
    padding-left: 60px;
    padding-bottom: 20px;
}

.categories-block li {
    list-style-type: disc;
}


@media (min-width: 768px){

#pie{
    height: 55px;
}

#bar {
    width: 10vw;
}

#alpha {
}

#beta {
    flex-grow: 1;
}

#space {
    width: 0;
}

#content {
    padding-left: 20px;
    width: 620px;
}

header {
    height: 110px;
}

main {
    font-size: 18px;
}

footer {
    height: 100px;
}

main h1 {
    font-size: 30px;
}

main h2 {
    font-size: 24px;
}

.subtitle {
    padding: 18px 0px 18px 0px;
}

.glifo {
    width: 108px;
}
}



@media (max-width:767px) {
#pie{
    height: 55px;
}

#bar {
    width: 0px;
}

#alpha {
}

#beta {
    flex-grow: 1;
}

#space {
    width: 0;
}

#content {
    margin-left: 5vw;
    width: 90vw;
}

header {
    height: 100px;
}

#headerleft {
  margin-top: 50px;
  margin-left: 0;
}

#headtag {
    margin-right: 20px;
    margin-bottom: 10px;
}

main {
    font-size: 18px;
}

footer {
    height: 77px;
}

main h1 {
    font-size: 30px;
}

main h2 {
    font-size: 24px;
}

.subtitle {
    padding: 18px 0px 18px 0px;
}

.glifo {
    width: 38px;
}
}
